<div class="container">
<div class="gigling">
  <p>Login to Gigl</p>
</div>
<form class="col-4" method="POST" action="/login">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control">
  </div>

  <button class="btn btn-primary noredbutton logins">Login</button>
</form>
</div>
