.profilepic {
  margin: 0px 0 10px 0;
  border: 3px solid #ff6666;
  border-radius: 5px;
}

.reviews-skills {
  margin: 40px;
  height: 31.5vh;
  width: 300px;
  background-color:#d4d7d7;
}

.profile-text {
  text-align: center;
}

.delete-but {
  width: 300px;
  height: 40px;
  background-color: #ff6666;
  font-size: 18px;
  color: white;
  margin: 10px auto;
  border-radius: 5px;
  line-height: 40px;
}

.prof-edit {
  font-size: 20px;
  font-family: 'HK Grotesk';
  width: 300px;
  height: 50px;
  color: #ff6666;
  margin: 10px auto;
  line-height: 50px;
  border-radius: 5px;

}

.skills-prof {
  margin: 40px;
  height: 40vh;
  width: 300px;
  background-color:#d4d7d7;
}
