
<div class="homepage">
<h1><img src="../images/gigl-logo.png" class="logo"></h1>
<p class="tag-line">A review site for freelance Web Developers.</p>
<footer class="homelinks">
  <div class="login"><p><a href="/login">Login to Gigl</a></p></div>
  <div class="register"><p><a href="/register">Register</a></p></div>
</footer
<main>
