<div class="container">
  <h1>Freelancers</h1>
  <div class="row">
  <% users.forEach((user) => { %>
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="card">
        <img class="card-img-top" src="<%= user.image %>" alt="<%= user.name %>">
        <div class="card-body">
          <h4 class="card-title"><%= user.username %></h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the cards content.</p>
          <a href="/users/<%= user.id %>" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  <% }) %>
  </div>
</div>
