<form method="POST" action="/klklkl">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form-group">
    <label for="skill">What do they do?</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Graphic Designer</option>
      <option>Web Developer</option>
      <option>PR/Marketing</option>
      <option>UX Designer</option>
      <option>Data Analyst</option>
      <option>App Developer</option>
    </select>
  </div>
  <div>
    <label for="rating">rating</label>
    <input type="number" name="rating" id="rating" min="1" max="10" required>
  </div>
  <div>
    <label for="image">Image</label>
    <input type="text" name="image" id="image" required>
  </div>

  <button class="button">Register</button>
</form>
