<div class="container">
<form class="col-4" method="POST" action="/register">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName" class="form-control">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName" class="form-control">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" class="form-control">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="skill">What do you do?</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Graphic Designer</option>
      <option>Web Developer</option>
      <option>PR/Marketing</option>
      <option>UX Designer</option>
      <option>Data Analyst</option>
    </select>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control">
  </div>
  <div class="form-group">
    <label for="passwordConfirmation">Password Confirmation</label>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation" class="form-control">
  </div>
  <% if (locals.message) { %>
  <p><%= message %></p>
<% } %>
  <button class="btn btn-primary">Register</button>
</form>
</div>
